<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static//css/dp.css"  rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <div class="info">
        <table class="infotb">
            <tr class="infoli">
                <td class="destaq">Nome</td>
                <td class="destaq">Gênero</td>
            </tr>
            <tr class="infoli">
                <td>Carla Isabela dos Santos</td>
                <td>Feminino</td>
            </tr>
            <tr>
                <td class="destaq">Email</td>
                <td class="destaq">Telefone</td>
            </tr>
            <tr class="infoli">
                <td>Carladahora@gmoe.com</td>
                <td>(81) 95831-4269</td>
            </tr>
            <tr class="infoli">
                <td class="destaq">CPF</td>
                <td class="destaq">Data de Nascimento</td>
            </tr>
            <tr class="infoli">
                <td>596.***.***-**</td>
                <td>28/05/1995</td>
            </tr>
        </table>
    </div>
</body>
</html>