<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/Endereço.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <div class="ConteinerE">
        <div class="Caixa">
            <p class="ETexto">Rua Dona Florinda 171, casa</p>
            <p class="ETexto"> Barro - Recife - PE </p>
            <p class="ETexto"> 519880-123</p>
            <p class="CaixaP"> EDITAR</p>
        </div>
        <div class="Caixa">
            <p class="ETexto">Condomínio Raio Feliz, Apartamento</p>
            <p class="ETexto"> Barro - Recife - PE </p>
            <p class="ETexto"> 519880-070</p>
            <p class="CaixaP">EDITAR</p>
        </div>
    </div>
</body>
</html>