<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/home.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/estilo_header.css"   >
    <link rel="stylesheet" href="../static/css/estilo_Rolagem_inicial.css" >
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/rodape.css">
    <title>Sb-joias</title> 
</head>
<body>
    <header>
    <meta name="viewport" content="wiwdth=device-width, initial-scale=1.0">
    <div class="container">
        <nav id="nav"> 
            <div class="logo_inicial">
               <img src="../static/img/WhatsApp Image 2022-09-06 at 20.56.25.jpeg" alt="Sb-joias" width="150px"  height="100px">     
            </div>
            
            <div class="barra_pesquisa">
                <input type="text" placeholder="Uma Joia para Eternizar Momentos">
                <img src="../static/img/pesquisa-de-lupa.png" alt="" srcset="">
            </div>
           
            <ul class="icons">
                <li class="icon"><a href="/Perfil(dp).html"><img src="../static/img/perfil-de-usuario.png" alt="Perfil"  width="40px" height="40px" ></a></li>
                <li class="icon"><a href="meus_favoritos.html"><img src="../static/img/favorito.png" alt="favorito" width="40px" height="40px" ></a></li>
                <li class="icon"><a href="sacola.html"><img src="../static/img/carrinho-carrinho (1).png" alt="Carrinho" width="40px" height="40"></a></li>
                <li class="icon"><a href="#"><img src="../static/img/whatsapp.png" alt="Zap" width="40px" height="40px"></a></li>
            </ul>
        </nav>
       </div>
</header>
<main>
    
    <div class="logo">
        <img src="../static/img/WhatsApp Image 2022-09-06 at 20.56.25.jpeg" alt="logo" width="820px" height="429px">
    </div>

    <div id="destaque">
        <img class="selected" src="../static/img/ft_01.jpeg" alt="Imagem do colar"  width="1262px" height="427px">
        <img class="selected" src="../static/img/ft_02.jpeg" alt="Imgem brinco" width="1262px" height="427px">
    </div>

    <nav >
       
        <ul id="cat">
            <li class="lista">
                <a href="#">Brincos <img  src="../static/img/sinal-de-seta-para-baixo-para-navegar.png" alt="seta" width="10px" ></a>
            </li>

            <li class="lista">
                <a href="#">Colares <img  src="../static/img/sinal-de-seta-para-baixo-para-navegar.png" alt="seta" width="10px" ></a>
            </li>

            <li class="lista">
                <a href="#">Anéis <img  src="../static/img/sinal-de-seta-para-baixo-para-navegar.png" alt="seta" width="10px" ></a>
            </li>

            <li class="lista">
                <a href="#">Pulseira <img  src="../static/img/sinal-de-seta-para-baixo-para-navegar.png" alt="seta" width="10px" ></a>
            </li>

            <li class="lista">
                <a href="#">Conjuntos <img   src="../static/img/sinal-de-seta-para-baixo-para-navegar.png" alt="seta" width="10px" ></a>
            </li>
        
    </nav>
    <div class="linha4"></div>
    <br>
    <div class="card_container">
        <div class="card">

            <div class="nome">
                <h3>Ear Cuff Prata</h3>
               <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' > 
              
            </div> 
            <a href="compra.html"><figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_03_preco1.jpeg" alt="joia cara"></figure></a>
            <div class="valor">
                <h3>R$ 17,99 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>

        <div class="card">
            <div class="nome">
                <h3>Brinco Maozinhas</h3>
                <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_04_preco1.jpeg" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 9,99 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>

        <div class="card">

            <div class="nome">
                <h3>Ear Cuff Folha</h3>
                <img  class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_05_preco1.jpeg" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 19,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>

        <div class="card">

            <div class="nome">
                <h3> Folheado Traçado</h3>
                <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px"ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_06_preco1.jpeg" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 24,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>

        <div class="card">

            <div class="nome">
                <h3>Argola Cravejada </h3>
                <img src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px"ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_07_preco1.jpeg" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 19,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>
        
    </div>
    <div class="linha4"></div>
    <br>
    <br>
    <div class="ft_rolagem">
        <img src="../static/img/imgem_destaque_02.png" alt="comentarios">
    </div>
    <div class="linha4"></div> 
    <br>
    <br>
    <div class="card_container">
        <div class="card">

            <div class="nome">
                <h3> Conjunto de losangulo </h3>
               <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' > 
              
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/2_rolagem/ft01_2rolagem.png" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 49,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>

        <div class="card">
            <div class="nome">
                <h3>Conjunto Folheado</h3>
                <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/2_rolagem/ft02_2rolagem.png" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 49,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>

        <div class="card">

            <div class="nome">
                <h3>Conjunto Folheado</h3>
                <img  class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/2_rolagem/ft03_2rolagem.png" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 49,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>

        <div class="card">

            <div class="nome">
                <h3> Conjunto Princesa</h3>
                <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px"ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/2_rolagem/ft04_2rolagem.png" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 49,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>
        <div class="card">

            <div class="nome">
                <h3>Conjunto Argola </h3>
                <img src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px"ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
            </div> 
            <figure class="figura_item"><img class="imagem" src="../static/img/2_rolagem/ft05_2rolagem.png" alt="joia cara"></figure>
            <div class="valor">
                <h3>R$ 49,90 </h3>
                <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
            </div> 
        </div>
    </div>
        <div class="linha4"></div> 
        <br>
        <br>
        <div class="card_container">
            <div class="card">
    
                <div class="nome">
                    <h3>Ear Cuff Prata</h3>
                   <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' > 
                  
                </div> 
                <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_03_preco1.jpeg" alt="joia cara"></figure>
                <div class="valor">
                    <h3>R$ 17,99 </h3>
                    <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
                </div> 
            </div>
    
            <div class="card">
                <div class="nome">
                    <h3>Brinco Maozinhas</h3>
                    <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("../static/img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("../static/img/icon_favorito/coracao_01.png");' >
                </div> 
                <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_04_preco1.jpeg" alt="joia cara"></figure>
                <div class="valor">
                    <h3>R$ 9,99 </h3>
                    <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
                </div> 
            </div>
    
            <div class="card">
    
                <div class="nome">
                    <h3>Ear Cuff Folha</h3>
                    <img  class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px" ondblclick='Mudar_coracao("img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("img/icon_favorito/coracao_01.png");' >
                </div> 
                <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_05_preco1.jpeg" alt="joia cara"></figure>
                <div class="valor">
                    <h3>R$ 19,90 </h3>
                    <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
                </div> 
            </div>
    
            <div class="card">
    
                <div class="nome">
                    <h3> Folheado Traçado</h3>
                    <img class="quadro1" src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px"ondblclick='Mudar_coracao("img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("img/icon_favorito/coracao_01.png");' >
                </div> 
                <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_06_preco1.jpeg" alt="joia cara"></figure>
                <div class="valor">
                    <h3>R$ 24,90 </h3>
                    <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
                </div> 
            </div>
            <div class="card">
    
                <div class="nome">
                    <h3>Argola Cravejada </h3>
                    <img src="../static/img/icon_favorito/coracao_01.png" alt="coracao" width="20px" height="20px"ondblclick='Mudar_coracao("img/icon_favorito/coracao_02.png");' onclick= 'Mudar_coracao("img/icon_favorito/coracao_01.png");' >
                </div> 
                <figure class="figura_item"><img class="imagem" src="../static/img/1_opcoes/ft_07_preco1.jpeg" alt="joia cara"></figure>
                <div class="valor">
                    <h3>R$ 19,90 </h3>
                    <figure class="figure"><img src="../static/img/estrela_01.png"  alt="Votação dos Clientes"> </figure>
                </div> 
            </div>
        </div>
</main>
<footer class="rodape">
    <div class="mestre_rodape">
        <div class="contatos">
            <h3 class="rodape_texto_01">Contatos</h3>
            <div>
                 <a href="https://www.instagram.com/sb_joiass/" target="_blank"><img src="../static/img/img_rodape/contato.png" alt="contatos"> </a> 
            </div>
        </div>
      <div>
        <h3 class="rodape_texto_01">Dúvidas</h3>
        <div>
            <h4 class="rodape_texto_02">Garantia</h4>
            <h4 class="rodape_texto_02">Cuidados com as Peças</h4>
        </div>
      </div>
      <div>
        <h3 class="rodape_texto_01">SB-Joias</h3>
        <div>
            <h4 class="rodape_texto_02">Quem somos</h4>
            <h4 class="rodape_texto_02">Trabalhe conosco</h4>
        </div>
      </div>  
      <div>
        <h3 class="rodape_texto_01">Formas de Pagamentos</h3>
        <div>
            <img src="../static/img/img_rodape/formas de pagamentos.png" alt="Formas de Pagamento">
        </div>
      </div>
      <div>
        <img src="../static/img/WhatsApp Image 2022-09-06 at 20.56.25.jpeg" alt="logo" width="300px" height="200px">
      </div>
    </div>
</footer>

<script src="../static/js/scrip_coracao.js"></script>
<script src="../static/js/script.js"></script>

</body>
</html>