<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/Pedidos.css" rel="stylesheet" >
    <title>Document</title>
</head>
<body>
    <div class="Caixa">
        <div class="ConteinerP">
            <img class="PImagem" src="../static/img/1_opcoes/ft_03_preco1.jpeg" alt="joia cara" width="80px" height="75px">
            <p class="PTexto"> Ear Cuff Folha <br> R$ 19,90</p>
            <img class="AImagem" src="../static/img/AndamentodaEn.png" alt="Entrega"  width="120px" height="79px">
            <pre class="ATexto">Pedido Confirmado                       Entrega a Caminho                                   Pedido Entregue</pre>
        </div>
    </div>
    <br>
    <div class="Caixa">
        <div class="ConteinerP">
            <img class="PImagem" src="../static/img/1_opcoes/ft_06_preco1.jpeg" alt="joia cara" width="80px" height="75px">
            <p class="PTexto"> Folheado Traçado <br>  R$ 24,90</p>
            <img class="AImagem" src="../static/img/AndamentodaEn.png" alt="Entrega"  width="120px" height="79px">
            <pre class="ATexto">Pedido Confirmado                       Entrega a Caminho                                   Pedido Entregue</pre>
        </div>
    </div>
    <br>
    <div class="Caixa">
        <div class="ConteinerP">
            <img class="PImagem" src="../static/img/1_opcoes/ft_07_preco1.jpeg" alt="joia cara"  width="80px" height="75px">
            <p class="PTexto"> Argola Cravejada <br> R$ 19,90</p>
            <img class="AImagem" src="../static/img/AndamentodaEn2.png" alt="Entrega"  width="120px" height="79px">
            <pre class="ATexto">Pedido Confirmado                       Entrega a Caminho                                   Pedido Entregue</pre>
        </div>
        </div>
</div>
</body>
</html>