.botao{
    border-radius: 50%; 
    background-color: transparent;
    border-color: black;
    width: 25px;
    height: 25px;
  }

  .botoes {
    display: flex;
  }

.adcionar{
    background: #D9D9D9;
    font-family: 'Luxurious Roman';
    font-size: 30px;
    width: 400px;
    height: 60px;
    border-radius: 10px;
    margin-top: 5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#t1{
  font-family: 'Luxurious Roman';
  font-size: 36px;
}
#t3{
  font-family: 'Luxurious Roman';
  font-size: 29px;
}
#t4{
  font-family: 'Luxurious Roman';
  font-size: 25px;
}

.t2{
  font-family: 'Luxurious Roman';
  font-size: 50px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  
}
.apresentacao{
 display: flex;
 justify-content: center;
 flex-direction: column;
}

.filho{
    display: flex;
    justify-content: space-evenly;
}

.selo {
    display: flex;
    flex-direction: row;
}
.textos{
  padding-bottom: 5rem;
}

.descricao{
  background-color: #D9D9D9;
  color: black;
  font-family: 'Luxurious Roman';
  width: 100%;
}

.bot{
  background-color: #D9D9D9;
  border-color: #D9D9D9;
  color: black;
  font-family: 'Luxurious Roman';
  margin-left: 10rem;
  font-size: 20px;
  width: 80%;
}

.mensagem{
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px black solid;
    background-color: white;
    width: 500px;
    height: 160px;
    margin-top: 1.5rem;
    
}
.opa{
  display: grid;
  grid-template-columns: repeat(3,500px);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

p{
    font-family: 'Luxurious Roman';
    font-size: 24px;
}
#ps{
    padding:25px;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    
}
h4{
    font-family: 'Luxurious Roman';
    color: #746767;
}

.estrela{
  align-self: flex-end;
  width: 120px;
  height: 30px;
}
.pai_estrela{
  display: flex;
  flex-direction: column;
}