form{
    text-align: center;
}

label{
    text-align: center;
}
.tabela_dados{
    display: flex;
    justify-content: space-between;

    
}
#idsubmit{
    width: 500px;
}
.opa{
    width: 60%;   
}

.input-container{
    padding: 0.5rem;
}
.opa2{
    padding: 0.5rem;
}
.item{
    display: flex;
    gap: 0.5rem;
    

    width: 700px;
    border: 1px red solid;
}
.valores{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex-grow: 1;
    padding: 0.3rem;
}
.vlr_01{
    display: flex;
    justify-content: space-between;
}