
.head2{
    text-align: center;
    margin-top: 30px;
   
}
.perfibodyy{
    text-align: left, 90%;
}
.perfibody{
    width: 250px;
    height: 250px;
}
.fav2{
    position: relative;
    left: 690px;
}
.fav {
    background: white;
    width: 50%;
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    left: 450px;
    position: top;
}
body{
    overflow-x: hidden;
}
#img{
    width: -50px;
    height: -50px;
}
.dropbtn {
background-color: antiquewhite;
color: black;
padding: 16px;
font-size: 25px;
border: none;
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;
}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}

.dropdown-content a:hover {
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
display: block;
}

.dropdown:hover .dropbtn {
background-color: #3e8e41;
}
