.Caixa{
    box-sizing: border-box;
    position: relative;
    width: 95%;
    height: 30%;
    left: 5%;
    top: 10%;
    
    background: #F9F9F9;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.CaixaP{
    position: relative;
    left: 20%;
    width: 40%;
    height: 30px;
    font-family: "Luxurious Roman";
    background: #1A1A1A;
    color: white;
    font-size: 29px;
}
.ConteinerP{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: left;
    width: 90%;
    height: 10%;
    margin: 0%;
}
.ConteinerPP{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-left: 0%;
}

.PTexto{
    color: black;
    font-family: 'habibi';
    font-style: normal;
    font-size: 24;
}
.PImagem{
    border: 2px solid #AC9F9F;
}
.AImagem{
    position: relative;
    margin-left: 25%;
    width: 100%;
}
.ATexto{
    font-family: 'habibi';
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 25%;
}